Repository AINative-Studio/wwmaa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: Add production deployment verification and test credentials
  FRONTEND_BUILD_OPTIONS.md
  INTEGRATION_VERIFIED.md
  TEST_CREDENTIALS.md
Due: none

fix: Add is_deleted field to seeded events
  scripts/seed_zerodb.py
Due: none

docs: Add comprehensive production status report
  PRODUCTION_STATUS.md
Due: none

fix: Connect frontend authentication to backend API
  backend/config.py
  lib/auth-context.tsx
Due: backend, frontend

docs: Add frontend build fix instructions for Railway deployment
  FRONTEND_BUILD_FIX.md
Due: none

fix: Add SWC WASM environment variables to frontend Dockerfile
  Dockerfile.frontend
Due: none

docs: Add comprehensive login fix summary and Railway instructions
  LOGIN_FIX_SUMMARY.md
Due: none

fix: Add member and board_member role configurations to role badge
  components/role-badge.tsx
Due: frontend

docs: Add critical Railway frontend environment variables guide
  RAILWAY_FRONTEND_VARS_REQUIRED.md
Due: none

fix: Add environment variable validation and logging to Next.js build
  next.config.js
Due: none

docs: Add comprehensive environment variable debugging guide
  ENVIRONMENT_VARIABLE_DEBUG.md
Due: none

build: Force Railway cache clear to apply environment variables
  Dockerfile.frontend
Due: none

fix: Use ARG to pass Railway environment variables to Docker build
  Dockerfile.frontend
Due: none

fix: Hardcode production API URL as fallback in Dockerfile
  Dockerfile.frontend
Due: none

fix: Hardcode production backend URL in source code
  lib/auth-context.tsx
Due: frontend

fix: Hardcode production backend URL in lib/api.ts
  lib/api.ts
Due: frontend

fix: Apply limit AFTER filtering in ZeroDB client-side queries
  backend/services/zerodb_service.py
Due: backend

fix: Pin bcrypt to 3.2.2 for passlib compatibility
  backend/requirements.txt
Due: backend

fix: Add explicit CORS headers configuration
  backend/app.py
Due: backend

fix: Explicitly define CORS allowed headers instead of wildcard
  backend/app.py
Due: backend

fix: Exempt login/register from CSRF for cross-origin requests
  backend/middleware/csrf.py
Due: backend

fix: Update all API client files to use production backend URL
  lib/event-api.ts
  lib/payment-api.ts
  lib/subscription-api.ts
Due: frontend

fix: Implement JWT token expiry handling for ZeroDB authentication
  backend/services/zerodb_service.py
Due: backend

fix: Correct admin dashboard routing and role checks
  app/dashboard/page.tsx
  app/login/page.tsx
  components/user-menu.tsx
Due: frontend

fix: Force redeploy with improved comment for admin routing
  app/dashboard/page.tsx
Due: frontend

fix: Correct admin dashboard path in Nav component (was /admin, now /dashboard/admin)
  components/nav.tsx
Due: frontend

fix: Update Role type to use lowercase values matching backend API
  lib/types.ts
Due: frontend

fix: Remove mock data file that was using old Role types
  lib/mock/db.ts
Due: frontend

fix: Use Next.js cookies() to pass auth token in server component
  app/dashboard/page.tsx
Due: frontend

fix: Remove all mock/db imports and mock mode logic
  app/dashboard/admin/page.tsx
  app/page.tsx
  lib/api.ts
  lib/application-api.ts
  lib/event-api.ts
  lib/payment-api.ts
Due: frontend

feat: Migrate search embeddings from OpenAI to ZeroDB API
  ZERODB_EMBEDDING_MIGRATION.md
  ZERODB_EMBEDDING_TEST_RESULTS.md
  backend/config.py
  backend/services/embedding_service.py
  scripts/debug_zerodb_api.py
  scripts/test_zerodb_embeddings.py
  vector_zerodb_guide.md
Due: backend

feat: Add board approval API endpoints
  .coverage
  BOARD_APPROVAL_TEST_RESULTS.md
  SPRINT_2_TASK_2_COMPLETE.md
  backend/app.py
  backend/routes/admin/board_approval.py
  backend/tests/test_board_approval_routes.py
  coverage.xml
Due: backend

feat: Build Board Member Dashboard UI with voting interface
  app/dashboard/board/page.tsx
  components/board/BoardStatsCards.tsx
  components/board/VoteHistoryModal.tsx
  components/board/VoteModal.tsx
  lib/api.ts
Due: frontend

feat: Add board member dashboard navigation link
  components/nav.tsx
Due: frontend

feat: Add comprehensive email notifications for board approval workflow
  backend/services/board_approval_service.py
  backend/services/email_service.py
Due: backend

docs: Add comprehensive Sprint 2 completion documentation
  SPRINT_2_COMPLETE.md
Due: none

test: Add comprehensive email notification tests to achieve 95%+ coverage
  .coverage
  BOARD_APPROVAL_TEST_RESULTS.md
  backend/services/board_approval_service.py
  backend/tests/test_board_approval_service.py
  coverage.xml
Due: backend

fix: Refactor board approval routes to use FastAPI dependency injection
  backend/routes/admin/board_approval.py
  backend/tests/test_board_approval_routes.py
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/tests/, **/__pycache__/, **/test_*.py, **/conftest.py, **/*.md, docs/, scripts/, **/__init__.py, **/venv/, **/.venv/, **/node_modules/, **/.next/, out/, public/
  frontend: any of: app/, components/, lib/, hooks/, but not: backend/tests/, **/__pycache__/, **/test_*.py, **/conftest.py, **/*.md, docs/, scripts/, **/__init__.py, **/venv/, **/.venv/, **/node_modules/, **/.next/, out/, public/
