Repository AINative-Studio/wwmaa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Railway deployment - 9 critical bugs fixed
  DOCKER-LOCAL-TESTING.md
  RAILWAY-DEPLOYMENT-ANALYSIS.md
  backend/app.py
  backend/requirements.txt
  backend/routes/admin/indexing.py
  backend/routes/blog.py
  backend/routes/health.py
  backend/routes/privacy.py
  backend/routes/stripe_webhooks.py
  backend/routes/training_chat.py
  backend/services/blog_sync_service.py
  backend/services/recording_service.py
  backend/services/stripe_service.py
  backend/services/webhook_service.py
  backend/tests/test_blog_routes.py
  backend/tests/test_blog_sync_service.py
  backend/tests/test_cloudflare_webhooks.py
  backend/tests/test_events.py
  backend/tests/test_recording_service.py
  backend/tests/test_services/test_zerodb_service.py
  docker-compose.yml
  docker-local-test.sh
Due: backend

fix: Add Railway startup debug script to diagnose deployment failures
  Dockerfile
  railway-start.sh
Due: none

fix: Fix Railway PORT environment variable handling in startup script
  Dockerfile
  railway-start.sh
Due: none

fix: Update Railway config files to use startup script
  railway.json
  railway.toml
Due: none

docs: Add Railway missing environment variables reference
  RAILWAY-MISSING-VARS.md
Due: none

feat: Add Railway configuration for frontend deployment
  railway.frontend.json
Due: none

fix: Add Railway frontend configuration files
  .railwayignore
  nixpacks.toml
Due: none

fix: Remove global Railway config files
  railway.frontend.json
  railway.json
  railway.toml
Due: none

refactor: Rename Dockerfile to Dockerfile.backend
  Dockerfile.backend
Due: none

fix: Update docker-compose to use Dockerfile.backend
  docker-compose.yml
Due: none

fix: Remove nixpacks.toml forcing Nixpacks builder
  nixpacks.toml
Due: none

temp: Rename .dockerignore to allow Railway Dockerfile detection
  .dockerignore.local
Due: none

fix: Add Railway backend domain to CORS allowed origins
  backend/config.py
Due: backend

fix: Update browserslist database to fix frontend build
  .npmrc
  package-lock.json
Due: none

fix: Update @radix-ui/react-progress to fix build compilation error
  package-lock.json
  package.json
Due: none

fix: Replace Radix UI Progress with custom implementation
  components/ui/progress.tsx
Due: frontend

fix: Add postinstall script to clear corrupted Next.js SWC cache
  package.json
Due: none

fix: Add standalone output mode to fix build-time API call errors
  next.config.js
Due: none

fix: Force dynamic rendering for all pages to prevent build-time API call errors
  app/admin/events/page.tsx
  app/admin/members/page.tsx
  app/blog/page.tsx
  app/dashboard/page.tsx
  app/dashboard/profile/page.tsx
  app/membership/page.tsx
  app/page.tsx
  app/resources/page.tsx
Due: frontend

fix: Use full backend URLs from environment variables
  lib/api.ts
  next.config.js
Due: frontend

feat: Implement all missing backend API endpoints for frontend integration
  API_ME_ENDPOINT_IMPLEMENTATION.md
  BLOG_API_IMPLEMENTATION.md
  CERTIFICATIONS_API_IMPLEMENTATION.md
  CERTIFICATIONS_QUICK_REFERENCE.md
  RAILWAY-502-DEBUG.md
  RAILWAY-FRONTEND-VARS.md
  RAILWAY-STRAPI-VARIABLES.md
  STRAPI-BACKEND-INTEGRATION.md
  STRAPI-DEPLOYMENT-SUMMARY.md
  STRAPI-QUICK-START.md
  STRAPI-RAILWAY-CHECKLIST.md
  STRAPI-RAILWAY-DEPLOYMENT.md
  STRAPI_IMPLEMENTATION_SUMMARY.md
  STRAPI_INTEGRATION_README.md
  STRAPI_INTEGRATION_SUMMARY.md
  STRAPI_QUICK_START.md
  SUBSCRIPTIONS_API_IMPLEMENTATION.md
  backend/app.py
  backend/config.py
  backend/routes/auth.py
  backend/routes/blog.py
  backend/routes/certifications.py
  backend/routes/subscriptions.py
  backend/services/strapi_service.py
  backend/tests/test_auth_routes.py
  backend/tests/test_blog_routes.py
  backend/tests/test_certifications_routes.py
  backend/tests/test_strapi_service.py
  backend/tests/test_subscriptions_routes.py
  lib/api.ts
Due: backend, frontend

fix: Return empty array instead of 500 error when events collection doesn't exist
  backend/routes/events.py
Due: backend

fix: Add /api/applications query parameter support and /api/me endpoint
  backend/app.py
  backend/routes/applications.py
  backend/routes/profile.py
Due: backend

fix: Preserve ZeroDBNotFoundError in EventService.list_events
  backend/services/event_service.py
Due: backend

fix: Add comprehensive cache clearing and WASM fallback for Next.js SWC
  .dockerignore
  package.json
Due: none

fix: Force WASM fallback for Next.js SWC compilation
  next.config.js
Due: none

fix: Regenerate package-lock.json after postinstall script changes
  package-lock.json
Due: none

fix: Remove Strapi and backend dependencies from frontend
  package-lock.json
  package.json
Due: none

fix: Add prebuild cache clearing and nixpacks configuration
  nixpacks.toml
  package.json
Due: none

feat: Update ZeroDB service to use project-based API
  backend/config.py
  backend/services/zerodb_service.py
  scripts/seed_zerodb.py
Due: backend

fix: Handle ZeroDB API returning list instead of dict
  backend/services/zerodb_service.py
Due: backend

fix: Add proper error handling to all API methods
  lib/api.ts
Due: frontend

fix: Disable Railway cache mounts to resolve SWC corruption
  Dockerfile.frontend
  nixpacks.toml
  railway.toml
Due: none

fix: Remove global railway.toml that broke backend
  FRONTEND_ENV_VARS_NEEDED.md
  railway.toml
Due: none

fix: Disable SWC and use Babel to avoid binary download issues
  next.config.js
Due: none

fix: Add environment variables to force WASM-only SWC usage
  RAILWAY_FRONTEND_ENV_FIX.md
  nixpacks.toml
Due: none

fix: Extract arrays from backend API responses
  lib/api.ts
Due: frontend

fix: Handle list response in seeding script
  scripts/seed_zerodb.py
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/tests/, **/__pycache__/, **/test_*.py, **/conftest.py, **/*.md, docs/, scripts/, **/__init__.py, **/venv/, **/.venv/, **/node_modules/, **/.next/, out/, public/
  frontend: any of: app/, components/, lib/, hooks/, but not: backend/tests/, **/__pycache__/, **/test_*.py, **/conftest.py, **/*.md, docs/, scripts/, **/__init__.py, **/venv/, **/.venv/, **/node_modules/, **/.next/, out/, public/
